.dest-list1{
  display:none;
}
.dest-list2{
  display:none;
}
.dest-list3{
  display:none;
}
.dest-list4{
  display:none;
}
.dest-list5{
  display:none;
}
.dest-list6{
  display:none;
}
.dest-list7{
  display:none;
}
.dest-list8{
  display:none;
}
.dest-list9{
  display:none;
}
.listing-box{
            padding: 3.2rem 1.5rem;
            border-radius: 2rem;
            height: 300px;
            width: 100%;
            background-color: powderblue;
            margin-top: 10px 0;
            margin: auto;
}
.card1 {
            padding: 3.2rem 1.5rem;
            border-radius: 2rem;
            background-color: powderblue;
            margin: 10px 0;

        }
.card2 {
            padding: 3.2rem 1.5rem;
            border-radius: 2rem;
            height: 150px;
            width: 20%;
            background-color: #77BFC7;
            margin: 10px 0;
            margin-left: 20px;
            margin-right: 20px;
        }
.card3 {
            padding: 3.2rem 1.5rem;
            border-radius: 2rem;
            height: 150px;
            width: 20%;
            background-color: #77BFC7;
            margin: 10px 0;
        }
.card4 {
            padding: 3.2rem 1.5rem;
            border-radius: 2rem;

            background-color: #FF8674;
            margin: 10px 0;

        }
.card5 {
            padding: 3.2rem 1.5rem;
            border-radius: 2rem;
            height: 150px;
            width: 20%;
            background-color: powderblue;
            margin: 10px 0;
            margin-left: 20px;
            margin-right: 20px;
        }
.card6 {
            padding: 3.2rem 1.5rem;
            border-radius: 2rem;
            height: 150px;
            width: 20%;
            background-color: #77BFC7;
            margin: 10px 0;
        }
.card7 {
            padding: 3.2rem 1.5rem;
            border-radius: 2rem;
            background-color: #F75D59;
            margin: 10px 0;

        }
.card8 {
            padding: 3.2rem 1.5rem;
            border-radius: 2rem;
            height: 150px;
            width: 20%;
            background-color: #FF8674;
            margin: 10px 0;
            margin-left: 20px;
            margin-right: 20px;
        }
.card9 {
            padding: 3.2rem 1.5rem;
            border-radius: 2rem;
            height: 150px;
            width: 20%;
            background-color: powderblue;
            margin: 10px 0;
        }
.box10 {
            padding: 3.2rem 1.5rem;
            border-radius: 2rem;
            height: 50px;
            display: flex;
            justify-content: center;
            width: 50%;
            background-color: #77BFC7;

        }
.box11 {
            padding: 3.2rem 1.5rem;
            border-radius: 2rem;
            height: 15px;
            display: flex;
            justify-content: center;
            width: auto;
            background-color: #77BFC7;
            margin: 10px 0;
        }
.box12 {
            padding: 3.2rem 1.5rem;
            border-radius: 2rem;
            height: 50px;
            display: flex;
            justify-content: center;
            width: 50%;
            background-color: #77BFC7;
            margin: 10px 0;
        }
.box13 {
            padding: 3.2rem 1.5rem;
            border-radius: 2rem;
            height: 50px;
            display: flex;
            justify-content: center;
            width: 50%;
            background-color: #77BFC7;
            margin: 10px 0;
        }
.box14 {
            padding: 3.2rem 1.5rem;
            border-radius: 2rem;
            height: 50px;
            display: flex;
            justify-content: center;
            width: 50%;
            background-color: #77BFC7;
            margin: 10px 0;
        }
.box15 {
            padding: 3.2rem 1.5rem;
            border-radius: 2rem;
            height: 50px;
            display: flex;
            justify-content: center;
            width: 50%;
            background-color: #77BFC7;
            margin: 10px 0;
        }
.box16 {
            padding: 3.2rem 1.5rem;
            border-radius: 2rem;
            height: 50px;
            display: flex;
            justify-content: center;
            width: 50%;
            background-color: #77BFC7;
            margin: 10px 0;
        }
.box17 {
            padding: 3.2rem 1.5rem;
            border-radius: 2rem;
            height: 50px;
            display: flex;
            justify-content: center;
            width: 50%;
            background-color: #77BFC7;
            margin: 10px 0;
        }
.box18 {
            padding: 3.2rem 1.5rem;
            border-radius: 2rem;
            height: 50px;
            display: flex;
            justify-content: center;
            width: 50%;
            background-color: #77BFC7;
            margin: 10px 0;
        }
.box19 {
            padding: 3.2rem 1.5rem;
            border-radius: 2rem;
            height: 50px;
            display: flex;
            justify-content: center;
            width: 50%;
            background-color: #77BFC7;
            margin: 10px 0;
        }
.oh_dashboards{
            padding-top :15px;
            background-color: #81D8D0 !important;
        }
.card{
            border: none;
            border-radius: 0px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            -moz-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
.card-header{
            background-color: transparent;
            border: none;
        }
:root   {
            --green: #00C689;
            --blue: #3DA5F4;
            --red: #F1536E;
            --yellow: #FDA006;
            --primary-font: 'Roboto', sans-serif;
        }

html .o_web_client > .o_action_manager {
            overflow:auto;
        }

.bg-green {
            background-color: var(--green);
        }

.bg-blue {
            background-color: var(--blue);
        }

.bg-red {
            background-color: var(--red);
        }

.bg-yellow {
            background-color: var(--yellow);
        }
.text-color-yellow {
            color: var(--yellow);
        }
.text-color-green {
            color: var(--green);
        }
.text-color-blue {
            color: var(--blue);
        }
.text-color-red {
            color: var(--red);
        }
.text-color-yellow {
            color: var(--yellow);
        }
.tile-container {
            padding: 3.2rem 1.5rem;
            border-radius: 2rem;
        }
.tile-container__icon-container {
            border-radius: 50%;
            width: 4.75rem;
            height: 4.75rem;
            font-size: 28px;
        }
.status-container__title {
            font-family: var(--primary-font);
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 1.5rem;
        }
.status-container__figures {
            font-family: var(--primary-font);
        }
.status-container__figures>h3 {
            font-weight: 700;
            font-size: 1.5rem;
            line-height: 1.813rem;
        }
.tile-container__setting-icon {
            top: 0.638rem;
            right: 1rem;
        }
.box {
      width: 800px;
      height: 20px;
      background-color: #C0C0C0;
      color: #fff;
    //   padding: 20px;
      position: relative;
    //   margin: 5px;
      float: left;
      text-align: center;
      size: 30px;
    }
.topbox {
  width: 20px;
  height: 500px;
  background-color: #C0C0C0;
  color: #fff;
  padding: 20px;
  position: relative;
  margin: 10px;
  float: left;
  text-align: center;
}
.box.arrow-right:after {
  content: " ";

  position: absolute;
  right: -15px;
  top: -15px;
  border-top: 25px solid transparent;
  border-right: none;
  border-left: 15px solid #C0C0C0;
  border-bottom: 25px solid transparent;
}

.topbox.arrow-top:after {
  content: " ";
  position: absolute;
  right: 30px;
  top: -15px;
  border-top: none;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
  border-bottom: 25px solid black;
}