/*.logo_bir_img{
	width:75px;
	height:75px;
}
.form_2316_content{
	border: 1px solid black;
	margin: 5px;
}
.logo_left_content{
	    display: inline-flex;
	    font-size: small;
	    font-weight: bold;
}
.logo_text5{
	margin-left: 10px;
}
.logo_mean{
	margin-top: 0px;
    margin-left: 5px;
    font-size: medium;
    font-weight: bold;
}
.logo_content_center{
	display: inline-flex;
}
.form_sheet{
	margin: 10px;
}
.logo_text2{
	text-align: center;
}
.present_employer{
	border: none; 
	background-color: transparent; 
	border-bottom: 1px solid black; 
	box-shadow: none; 
	border-radius: 0px;
}
.employer_signature{
		border: none; 
		background-color: transparent; 
		border-bottom: 1px solid black; 
		box-shadow: none; 
		border-radius: 0px;
}
.present_employer_auth{
	border: none; 
	background-color: transparent; 
	border-bottom: 1px solid #fff; 
	box-shadow: none; 
	border-radius: 0px;
}*/